
body{
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    margin: 100px;
  }
  
  .card{
    width: 300px;
    height: 400px;
    border: solid 2px black;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
  }
  
  #playing-cards{
    flex-wrap: wrap;
    gap: 20px;
    display: flex;
    justify-content: center;
  }
  
  .left{
    flex-direction: column;
    align-self: flex-start;
    margin: 10px;
  }
  .middle{
    display: flex;
    align-self: center;
    transform: scale(3);
    flex-direction: column;
  }
  .middle h1{
    margin:0px;
  }
  .right{
    align-self: flex-end;
    margin: 10px;
    transform: rotate(180deg);
  }
  .flipped{
    transform: rotate(180deg);
  }
  